@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["UserName"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-page="/privacy">privacy</a>
<a asp-page="/privacy" asp-page-handler="Profile" asp-route-EmpId="12">Attendee Profile</a>