@page
@model AspNetCoreIdentity.Pages.RolesModel
@{
}

<form method="post">
    <label>RoleName</label>
    <input type="text" asp-for="AddRoleModel.RoleName"  />
    <button type="submit">Create Role</button>
</form>

